@model ConceptScheme

@{
    var label = Model.PrefLabel.Single();
    var subTitle = Localizer["SubTitle"];
    ViewData["Title"] = Localizer["Title", subTitle, label];
}

<div class="section--primary" tabindex="0" id="content">
    <div class="container">
        <small><a asp-action="Index" asp-controller="ConceptScheme">@subTitle</a></small>
        <h1><span>@label</span></h1>
    </div>
</div>

<section>
    <div class="container">
        <ul class="list--tab">
            <li><a asp-action="Item">@Localizer["Details"].Value</a></li>
            <li class="active">Tree</li>
        </ul>
    </div>
</section>

<section id="content">
    <div class="container">
        <aside>
            <button onclick="this.dataset.open = this.dataset.open == 'true' ? 'false' : 'true'; document.querySelectorAll('details').forEach(d => d.open = this.dataset.open == 'true')">@Localizer["Toggle"]</button>
        </aside>
        @foreach (var concept in Model.HasTopConcept.OrderBy(concept => concept.PrefLabel.Single()))
        {
            <partial name="ConceptNode" model="concept" />
        }
    </div>
</section>