@model Skos

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="section--primary">
    <div class="container">
        <small><a asp-action="Index" asp-controller="Home">@Localizer["SubTitle"]</a></small>
        <h1><span>@Localizer["Title"]</span></h1>
    </div>
</div>

<section id="content">
    <div class="container">
        <ol class="list--block">
            @foreach (var collection in Model.Collections.OrderBy(x => x.PrefLabel.Single()))
            {
                <li>
                    <div class="card">
                        <div class="card__details">
                            <h2>
                                <a asp-action="Item" asp-route-id="@collection.Id">@collection.PrefLabel.Single()</a>
                            </h2>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
</section>
