@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="section--primary">
    <div class="container">
        <small><a asp-action="Index" asp-controller="Home">@Localizer["SubTitle"]</a></small>
        <h1><span>@Localizer["Title"]</span></h1>
        <partial name="ConceptInitials" model="Model.initials.value" />
    </div>
</div>
