@model Concept

@if (Model.Narrower.Any())
{
    <details>
        <summary>
            <a asp-action="Item" asp-controller="Concept" asp-route-id="@Model.Id">@Model.PrefLabel.Single()</a>
        </summary>
        @foreach (var child in Model.Narrower.OrderBy(concept => concept.PrefLabel.Single()))
        {
            <partial name="ConceptNode" model="child" />
        }
    </details>
}
else
{
    <div>
        <a asp-action="Item" asp-controller="Concept" asp-route-id="@Model.Id">@Model.PrefLabel.Single()</a>
    </div>
}
