@model VocabularyBrowser.Models.SearchQuery

<form method="post" asp-action="Query" asp-controller="Search" asp-antiforgery="false">
    <fieldset>
        <div class="input-group">
            <label class="sr-only" for="search_box">query</label>
            <input asp-for="@Model.SearchText" id="search_box" maxlength="1000" pattern="^(?!.*<script|<Script).*$" aria-label="enter a search term" autocomplete="off" required="" type="search">
            <button class="btn--white" type="submit">
                <svg data-icon="search" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><title>Search icon</title><g fill="#fff"><path d="M7.5 15C3.4 15 0 11.6 0 7.5 0 3.4 3.4 0 7.5 0 11.6 0 15 3.4 15 7.5 15 11.6 11.6 15 7.5 15ZM7.5 13C10.5 13 13 10.5 13 7.5 13 4.5 10.5 2 7.5 2 4.5 2 2 4.5 2 7.5 2 10.5 4.5 13 7.5 13Z"></path><polygon points="14.8 10.8 16.8 10.8 16.8 20.8 14.8 20.8" transform="translate(15.778175 15.778175)rotate(-45)translate(-15.778175 -15.778175)"></polygon></g></svg>
            </button>
        </div>
        <div>
            @{
                SelectList SchemeList = ViewData["SchemeList"] as SelectList;
            }
            <select asp-for="@Model.ConceptScheme" id="concept_scheme" asp-items="SchemeList"></select>
        </div>
        <div>
            <input type="checkbox" id="exact_match" asp-for="@Model.ExactMatch" />
            <label for="exact_match">Exact match</label>
        </div>
    </fieldset>
</form>
<a class="btn--toggle" href="/search"><svg aria-hidden="true" data-icon="search" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><title>Search icon</title><g fill="#fff"><path d="M7.5 15C3.4 15 0 11.6 0 7.5 0 3.4 3.4 0 7.5 0 11.6 0 15 3.4 15 7.5 15 11.6 11.6 15 7.5 15ZM7.5 13C10.5 13 13 10.5 13 7.5 13 4.5 10.5 2 7.5 2 4.5 2 2 4.5 2 7.5 2 10.5 4.5 13 7.5 13Z"></path><polygon points="14.8 10.8 16.8 10.8 16.8 20.8 14.8 20.8" transform="translate(15.778175 15.778175)rotate(-45)translate(-15.778175 -15.778175)"></polygon></g></svg><svg aria-hidden="true" data-icon="close" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><title>Close</title><g stroke="#fff"><g><line stroke-width="2" x1="0" x2="18" y1="0" y2="18"></line></g><g><line stroke-width="2" x1="0" x2="18" y1="18" y2="0"></line></g></g></svg></a>