@model Collection
@{
    ViewData["Title"] = Model.PrefLabel.Single();
}

@if (Model.Parent.Any())
{
    <details>
        <summary>parents</summary>
        <ul>
            @foreach (var parent in Model.Parent)
            {
                <li>
                    @Html.ActionLink(parent.PrefLabel.Single(), "Item", "Collection", new { id = parent.Id })
                </li>
            }
        </ul>
    </details>
}
@if (Model.Child.Any())
{
    <details>
        <summary>children</summary>
        <ul>
            @foreach (var child in Model.Child)
            {
                <li>
                    @Html.ActionLink(child.PrefLabel.Single(), "Item", "Collection", new { id = child.Id })
                </li>
            }
        </ul>
    </details>
}
@if (Model.Member.Any())
{
    <details>
        <summary>concepts</summary>
        <ul>
            @foreach (var concept in Model.Member)
            {
                <li>
                    @Html.ActionLink(concept.PrefLabel.Single(), "Item", "Concept", new { id = concept.Id })
                </li>
            }
        </ul>
    </details>
}
