@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="section--primary">
    <div class="container">
        <h1>@Localizer["Title"]</h1>
        <nav class="navigation--letter">
            <ol>
                @foreach (var initial in Model.initials.value.OrderBy((Func<dynamic, dynamic>)(x => x.Value)))
                {
                    <li>
                        @Html.ActionLink(initial.Value as string, "StartingWith", new { prefix = initial.Value })
                    </li>
                }
            </ol>
        </nav>
    </div>
</div>
